table {
    border-collapse: collapse;
    table-layout:fixed;
}

table, th, td {
    border: 1px solid black;
}

td, th {
    padding: 10px;
}

tbody {
    display: block;
    height: 300px;
    /*width: 500px;*/
    overflow-y: scroll;
}

thead {
    display:table-header-group;
}

.messageCell {
    word-wrap: break-word;
    max-width: 300px;
}
